<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Bot</title>
    <link rel="stylesheet" href="styles/bds.css" />
  </head>
  <body>
    <h1>Chat with AI</h1>
    <div id="chat-box">
      <input
        type="text"
        id="user-input"
        placeholder="Ask the bot anything you want."
      />
      <button onclick="getBotResponse()">Send</button>
    </div>

    <div id="response-box"></div>

    <script>
      function getBotResponse() {
        const userInput = document.getElementById("user-input").value;
        fetch("/get_response", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ user_input: userInput }),
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("response-box").innerHTML = data.response;
          });
      }
    </script>
  </body>
</html>
